
/* styles for the contact form */

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type="text"],
input[type="email"],
textarea[name="message"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-family: 'Roboto';
}

textarea[name="message"] {
    min-height: 175px;
}

button {
    width: 150px;
    height: 40px;
    align-self: center;
    color: #fc7303;
    border-radius: 10px;
    font-family: 'Roboto';
}

.info {
    color: #fc7303;
    width: auto;
    margin: 5px 60px;
    padding: 10px;
}

.info p {
    color: #585252;
    font-family: 'Roboto';
    line-height: 1.4;
    padding: 10px 20px;
}

.map {
    max-width: 90%;
    width: 500px;
    border: 0;
    height: auto;
}

.main-contact {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    align-items: center; 
    background: linear-gradient( hsl(0, 0%, 100%), hsla(180, 89%, 81%, 0.8));
}

/* mobile first styles for responsive layout */

@media screen and (max-width: 719px) {
    .main-contact, .map {
    grid-template-columns: 1fr;
    }
}
