/* css style reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    line-height: 1.1;
}

/* font styles- customized from w3schools reference */

@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Geologica;
    src: url(../fonts/Geologica-Regular.ttf);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 10px;
}

header {
    background-color: #fff;
}

/* nav links */

.mobile-first img{
    width: 150px;
}

.desktop {
    display: none;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    list-style-type: none;
    padding: 6px 12px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #aca6a6;
    font-size: 18px;
    text-transform: uppercase;
}

/* nav-links ::after was referenced from w3schools to create a underline effect when hovered */

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background: #aca6a6;
    display: block;
    margin: auto;
    transform: 0.6;
}

.nav-links ul li:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #aca6a6;
    display: block;
    margin: auto;
}

#info {
    color: #aca6a6;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-family: 'Geologica';
}

#info p{
    margin-block: 10px;
    color: #000000;
}

/* footer style */

.footer {
   display :flex; 
   justify-content :space-evenly;  
   align-items: center;
   padding :10px; 
   background-color: #fff;
}

/* mobile first styles */

@media screen and (min-width: 740px) {
    .nav-links ul li {
        display: inline-block;
    }
    .mobile-first {
        display: none;
    }
    .desktop {
        display: block;
    }
    .desktop img {
        width: 300px;
   }
}

