/* css style reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* to hide scrollbar without effecting the scroll feature */

body::-webkit-scrollbar {
    display: none;
}

/* font styles- customized from w3schools reference */

@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Geologica;
    src: url(../fonts/Geologica-Regular.ttf);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #fff;
} 

/* nav links */

.mobile-first img{
    width: 400px;
}

.desktop {
    display: none;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    list-style-type: none;
    padding: 6px 12px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fc7303;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.nav-links ul li .active {
    border-bottom: 1px solid #5E5D5D;
}

/* nav-links ::after was referenced from w3schools to create a underline effect when hovered */

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background: #5e5d5d;
    display: block;
    margin: auto;
} 

.nav-links ul li:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
}

/* style's for the chat popup for all pages*/

.open-btn {
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 28px;
    right: 28px;
    width: 130px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;   
}

.chat-box h2, b {
    color: #fc7303;
    padding: 10px;
}

.chat-box {
    max-width: 320px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px #fc7303;
}

.chat-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    outline: none;
}

.chat-box .btn {
    background-color: hsla(180, 89%, 81%, 1);
    color: #585252;
    padding: 10px 10px;
    border: none;
    box-shadow: 2px 2px #fc7303;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}

.chat-box .end-chat {
    background-color: #fc7303;
    box-shadow: 2px 2px hsla(180, 89%, 81%, 1);
}

/* styles for top induction and about us section*/

.main {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    align-items: center; 
    background: linear-gradient( hsl(0, 0%, 100%), hsla(180, 89%, 81%, 0.8));
}
  
.main-img img {
    max-width: 90%;
    width: 600px;
    height: auto;
    margin: 0 20px;
}

#info, #about-section {
    color: #fc7303;
    width: auto;
    margin: 5px 60px;
    padding: 10px;
}

#info p, #about-section p {
    color: #585252;
    font-family: 'Roboto';
    line-height: 1.4;
    padding: 10px 20px;
}

.bg-color {
    background: linear-gradient(hsl(0, 0%, 100%), hsla(180, 89%, 81%, 0.9));
}

.about-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 90%;
    width: 300px;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Geologica';
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #fc7303;
    border-radius: 10px;
    color: #585252;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.1) translateY(5px);
    transition: .4s; 
}

section {
    padding: 0 3rem;
    margin: 10px auto;
    padding: 10px 10px;
}

/* resorts style and placement*/

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 80px;
    font-family: 'Roboto';
    color: #5e5d5d;
}

.container h2 {
    font-family: 'Geologica';
    color: #fc7303;
}

.content {
    width: 333px;
    background-color: #6cf5f527;    
    box-shadow: 2px 3px #fc7303;
    border-radius: 10px;
    overflow: hidden;
}

.content img {
    max-width: 100%;
    height: 100px;
}

.card {
    padding: 20px;
    line-height: 1.5;
    text-align: left;
}

/* footer style */

.footer {
   display :flex; 
   justify-content :space-evenly;  
   align-items: center;
   padding :10px; 
   background-color: #fff;
   margin-top: 10px;
}

.footer>p, a {
    color: #fc7303;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.footer ul li {
    list-style-type: none;
    padding: .25rem;
}

/* mobile first styles for responsive layout */

@media screen and (max-width: 739px){
    #info, #about-section, .info {
        margin: 0 5px;
    }
}
@media screen and (max-width: 739px) {
    .main-layout {
        display: grid;
    }
    .mobile-first img {
        width: 120px;
    }
    .main {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 740px) {
    .nav-links ul li {
        display: inline-block;
    }
    .mobile-first {
        display: none;
    }
    .desktop {
        display: block;
    }
    .desktop img {
        width: 300px;
   }
    .footer ul li {
        list-style-type: none;
        display: inline-block;
        padding: 1.25rem;
    }
    #info p, #about-section p {
        font-size: 1.25rem;
    }
}
