/* css style reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(108, 245, 245, 0.219);
    line-height: 1.1;
}

/* font styles- customized from w3schools reference */

@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Geologica;
    src: url(../fonts/Geologica-Regular.ttf);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #fff;
}

/* nav links */

.mobile-first img{
    width: 400px;
}

.desktop {
    display: none;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    list-style-type: none;
    padding: 6px 12px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fc7303;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto';
}

/* nav-links ::after was referenced from w3schools to create a underline effect when hovered */

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background: #5e5d5d;
    display: block;
    margin: auto;
    transform: 0.6;
}

.nav-links ul li:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
}

#info {
    color: #fc7303;
    text-align: center;
    padding: 0 3rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Geologica';
}

#info p{
    margin-block: 10px;
    color: #646363;
}

.items {
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 3px 3px 1px 1px #aca6a6;
}

.img {
    width: 100%;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: fill;
}

/* footer style */

.footer {
   display :flex; 
   justify-content :space-evenly;  
   align-items: center;
   padding :10px; 
   background-color: #fff;
}

.footer>p, a {
    color: #fc7303;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.footer ul li {
    list-style-type: none;
    padding: .25rem;
}

/* mobile first styles */

@media screen and (min-width: 740px) {
    .nav-links ul li {
        display: inline-block;
    }
    .mobile-first {
        display: none;
    }
    .desktop {
        display: block;
    }
    .desktop img {
        width: 300px;
   }
    #container, .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        list-style-type: none;
    }
    .footer ul li {
        list-style-type: none;
        display: inline-block;
        padding: 1.25rem;
    }
}
